.floating-input {
    $floatingLabelActiveTop: 15%;
    $floatingLabelActiveLeft: 3%;
    $floatingLabelActive: 10px;

    display: block;
    position: relative;
    margin-bottom: 10px;

    width: 100%;
    height: auto;

    .floating-title {
        display: inline-block;
        position: absolute;
    
        top: 33%;
        left: 4%;

        transition: all 0.2s ease;

        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;

        font-size: 16px;
        vertical-align: baseline;

        &.floating-active {
            top: $floatingLabelActiveTop;
            left: $floatingLabelActiveLeft;
            font-size: $floatingLabelActive;
        }
    }

    .floating-control {
        display: block;
        position: relative;

        width: 100%;
        padding: 1.5rem 11px 0.75rem 11px;

        &::-webkit-input-placeholder {
            opacity: 0;
        }

        &:focus {
            &::-webkit-input-placeholder {
                opacity: 1;
            }
        }
    }

    .floating-textarea {
        
        .floating-title {
            top: 27%;

            &.floating-active {
                top: $floatingLabelActiveTop;
                left: $floatingLabelActiveLeft;
                font-size: $floatingLabelActive;
            }
        }

        
    }

    .floating-number {
        
        .ant-input-number {
            padding: 1rem 11px 6px 11px;
            
            .ant-input-number-input-wrap {
                margin-top: 5px;

                .ant-input-number-input {
                    padding: 4px 11px 4px 0px;
                }
            }
        }
    }

    .floating-datepicker {

        .floating-title {
            top: 25%;
            left: 4%;

            &.floating-active {
                top: $floatingLabelActiveTop;
                left: $floatingLabelActiveLeft;
                font-size: $floatingLabelActive;
            }
        }

        .ant-space,
        .ant-picker {
            width: 100%;
        }

        .ant-picker {
            .ant-picker-input {
                input {
                    &::-webkit-input-placeholder {
                        opacity: 0;
                    }

                    &:focus {
                        &::-webkit-input-placeholder {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }

}